html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
        font-family: roboto,sans-serif;
    font-size: 1vw;
    font-weight: lighter;
}

.new {
    background-image: url(media/new.jpg);
    background-size: cover;
}

.old {
    background-image: url(media/old.jpg);
    background-size: cover;
    background-position: 100% 0%;
}

.b1 {
    width: 25vw;
    height: 10vw;
    transition: all .9s ease;
    background-color: rgba(0,0,0,0);
    color: #fff;
    border: solid 0.2vw;
    text-transform: uppercase;
}

.b1:hover {
    background-color: rgba(255,255,255,0.1);
    letter-spacing: 0.2vw;

}

.m1 {
    margin: 0;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    letter-spacing:  0.1vw;
    
}

.m2 {
    margin: 0;
    margin: 0;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
    font-size: 3vw;
    font-kerning: 1vw;
    font-weight: lighter;
    
}

.m3 {
    margin: 0;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
    font-weight: bold;
    letter-spacing:  0.1vw;
    
}
